{
    frankenphp
    order php_server before file_server
}

baduo.cloud {
    root * public
    php_server
    encode gzip
    file_server


    reverse_proxy /reverb* 127.0.0.1:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        transport http {
            versions h1
        }
    }
}
realtime.baduo.cloud {
    reverse_proxy 127.0.0.1:8000 
    
    
}


