{
    frankenphp
    order php_server before file_server
}

sikucur.com {
    root * public
    php_server
    encode gzip
    file_server


    reverse_proxy /reverb* 127.0.0.1:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        transport http {
            versions h1
        }
    }
}


wea.sikucur.com {
    reverse_proxy 172.19.0.4:3000
}
auto.sikucur.com {
    reverse_proxy 172.19.0.2:5678
}
wuz.sikucur.com {
    reverse_proxy 172.19.0.5:8080
}
realtime.sikucur.com {
    reverse_proxy 172.18.0.11:8000
}
realtime2.sikucur.com {
    reverse_proxy 172.20.0.7:8000
}



